In [8]:
# Dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import csv

In [9]:
# Take in all of our ride sharing data and read it into pandas
hawaii_measurements = "./Resources/hawaii_measurements.csv"
hawaii_stations = "./Resources/hawaii_stations.csv"

hawaii_measurements_df = pd.read_csv(hawaii_measurements)
hawaii_stations_df = pd.read_csv(hawaii_stations)

In [10]:
hawaii_measurements_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [11]:
hawaii_stations_df.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [12]:
# Drop NAs in Measurements table
clean_hawaii_measurements_df = hawaii_measurements_df[np.isfinite(hawaii_measurements_df['prcp'])]

In [13]:
clean_hawaii_measurements_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
5  USC00519397  2010-01-07  0.06    70

In [14]:
# Write cleaned df to CSV
clean_hawaii_measurements_df.to_csv("./Resources/clean_hawaii_measurements.csv", index=False, header=True)
hawaii_stations_df.to_csv("./Resources/clean_hawaii_stations.csv", index=False, header=True)

PermissionError: [Errno 13] Permission denied: './Resources/clean_hawaii_measurements.csv'